.head{
    gap: 5px;
    padding-left: 120px;
}

.head-bg{
    background-color:white ;
}

.li-style{
    list-style: none;
    gap:43px
}
.bg-colour{
    background-color:#4CAF4F;
    ;
}
.li-colour{
    color: #263238;
    ;
}
/* lesson2 */
.main-all{
    padding-top: 58px;
   
    justify-content: center;
}
.main-item{
    padding-right: 170px;
    padding-top: 45px;
    margin-bottom: 10px;
}
.bg-main{
    background-color: #F5F7FA;
}
.text-p{
    color: rgb(139, 139, 139);
    padding-right: 100px;
    font-weight: 300;
    font-size: 15px;

    
}
.dot-img{
    margin-top:150px;
    padding-left: 380px;
   
}
.img-p{
    padding-top: 30px;
    padding-right: 100px;
    margin-bottom: 10px;
}
.text-colour{
    color: #4CAF4F;
}

/* section our clients */
.section{
   gap: 20px;
   align-items: center;
   padding-left: 100px;
}

/* section-2 community */
.p-text{
    color: rgb(139, 139, 139);
}
.section{
    gap: 150px;
}
.text-card{
    color: rgb(139, 139, 139);
}

/* card-item  */

.card-item{
    padding-left: 170px;
    gap: 165px;
}
.text-pix{
    padding-right: 500px;
    padding-top: 125px;
}


/* image section  */
.img-pix{
    padding-top: 100px;
    padding-left: 180px;
}
.gap-pix{
     gap: 80px;
}
.text-2nd{
    padding-right: 100px;   
}
.text-pixx{
    color: rgb(139, 139, 139);
}
.button-pix{
    font-size: 23px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

/* helping local  */
.all-item{
    padding-top: 100px;
    
}
.main-local{
    background-color:#F5F7FA ;
   padding-bottom: 50px;
      
}
.local-all{
    padding-left: 220px;
    gap: 150px;
    
}
.local-text{
    padding-top: 95px;
    padding-left: 200px;
}
.local-section{
    padding-top: 50px;
    
}
.local-sect{
    padding-top: 60px;
}
.local-a2{
   
    padding-right: 130px;
}
.local-a4{
    padding-top: 50px;
    
}

/* desing section  */

.deg-1{
    padding-top: 80px;
    padding-left: 220px;
}
.deg-2{
    padding: 200px;
    padding-top: 140px;
    padding-right: 130px;
    padding-left: 80px;
}
.button-deg{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}


