.head{
    gap: 5px;
    padding-left: 120px;
}

.head-bg{
    background-color:white ;
}

.li-style{
    list-style: none;
    gap:43px
}
.bg-colour{
    background-color:#4CAF4F;
    ;
}
.li-colour{
    color: #263238;
    ;
}
/* lesson2 */
.main-all{
    padding-top: 58px;
   
    justify-content: center;
}
.main-item{
    padding-right: 100px;
    padding-top: 45px;
    margin-bottom: 10px;
}
.bg-main{
    background-color: #F5F7FA;
}
.text-p{
    color:rgb(165, 163, 163);
    padding-right: 50px;
    font-weight: 300;
    font-size: 15px;
    
}
.dot-img{
    margin-top:150px;
    padding-left: 380px;
   
}
.img-p{
    padding-top: 30px;
    padding-right: 100px;
    margin-bottom: 10px;
}
.text-colour{
    color: #4CAF4F;
}

/* section our clients */
.section{
   gap: 28px;
   align-items: center;
   padding-left: 200px;
}

/* section-2 community */
.p-text{
    color: rgb(165, 163, 163);
}
.section{
    gap: 150px;
}
.text-card{
    color: rgb(182, 182, 182);
}
.card-item{
    padding-left: 280px;
    gap: 200px;
}
